* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: grey;
}

.arribac {
    background-color: aqua;
    display: flex;
    align-items: center;
    margin: 10px;

}

#carouselExample {
    width: 500px;
}

.datos {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}