{% extends "plantillaBase.html" %}
{% block tituloPestana %} Login {% endblock %}
{% block tituloPrincipal %} Login {% endblock %}
{% block mensaje %}
{% endblock %}
{% block contenido %}
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <section class="log row">
        <div class="login col-12 col-md-7 offset-md-3">
            <table class="table table-reponsive">
                {{form.as_table}}
            </table>
            <a href="{% url 'registro' %}" class="btn btn-primary">Registrarse</a>
            <input type="submit" value="Aceptar">
        </div>
    </section>
</form>
{% endblock %}
{% block listado %}
{% endblock %}