{% extends "plantillaBase.html" %}
{% block tituloPestana %} Registro {% endblock %}
{% block tituloPrincipal %} Registro {% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
<form action="{% url 'registro' %}" method="post">
    {% csrf_token %}
    <section class="log row">
        <div class="login col-12 col-md-7 offset-md-3">
            <table class="table table-reponsive">
                {{form.as_p}}
            </table>
        </div>
        <div class="row">
            <div class="col-12 col-md-2 offset-md-3">Opciones</div>
            <div class="col-12 col-md-5">
                <a href="{% url 'login' %}" class="btn btn-primary">login</a>
                <input type="submit" name="btnGuardar" class="btn btn-danger" value="registrarse">
            </div>
        </div>
    </section>
</form>
{% endblock %}
{% block listado %}
{% endblock %}