* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-height: 1020px;
}

@media screen and (max-width: 768px) {
    main {
        padding: 0px;
        min-width: auto;
    }

    section {
        padding: 0px;
    }

}