{% extends "plantillaBase.html" %}
{% block tituloPestana %} Añadir Categorias {% endblock %}
{% block css %}{% endblock %}
{% block js %} {% endblock %}
{% block tituloPrincipal %} Categoria {% endblock %}
{% block mensaje %}
{% endblock %}
{% block contenido %}

<form action="{#% url 'anadirUsuario' %#}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="txtId" value="0{{id}}">
    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <table>
                {{form.as_table}}
            </table>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-12 col-md-2 offset-md-3">Opciones</div>
        <div class="col-12 col-md-5">
            <input type="submit" name="btnGuardar" class="btn btn-danger" value="Guardar">
            <input type="submit" name="btnLimpiar" class="btn btn-outline-secondary" value="Limpiar">
            <a href="{#% url 'listarUsuario' %#}" class="btn btn-success">Listar</a>
        </div>
    </div>
</form>
{% endblock %}
{% block listado %}
{% endblock %}