{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} Listar Productos {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleBusqueda.css' %}">
{% endblock %}
{% block js %} {% endblock %}
{% block tituloPrincipal %} Productos {% endblock %}
{% block mensaje %}
    {% if exito %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{exito}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endblock %}
{% block contenido %}

<a href="{% url 'anadirProductoForm' %}" class="btn btn-primary">Subir Producto</a>

{% endblock %}
{% block listado %}

<table class="table table-responsive table-striped">
    <div class="row row-cols-1 row-cols-md-4 g-4 cont-filt">
        {% for producto in listadoProductos %}
        <div>
            <div class="col {{ producto.Categoria }} filterDiv show " id="{{ producto.Categoria }}">
                <div class="card h-100">
                    <a href="{% url 'verProducto' producto.id %}" class="cartas">
                        {%if producto.stock > 0 %}
                        <img src="{{MEDIA_URL}}{{ producto.imagen }}" class="card-img-top"  alt="Fallo al cargar">
                        {% else %}
                        <img src="{{MEDIA_URL}}{{ producto.imagen }}" class="card-img-top" alt="Fallo al cargar" style="filter: grayscale(100%);" >
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <div class="sc-prec">
                                $<p class="card-text " id="precio">{{ producto.precio }}</p>
                            </div>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text">stock: {{ producto.stock }}
                        </div>
                    </a>
                    <p></p>
                    {% if producto.stock > 0 %}
                    <form method="POST" action="{% url 'anadirCarrito' pk=producto.id %}">
                        {% csrf_token %}
                        <div class="d-flex">
                        <span class="small mb-1">Cantidad:</span>
                        <input class="form-control text-center me-3" name="txtCantidad{{item.id}}" type="number"
                            value="1" style="max-width: 3rem" />
                        </div>
                        <button type="submit" name="btnAnadir" value="anadir"
                            class="btn btn-outline-dark mt-auto">Añadir al
                            Carrito</button>
                    </form>
                    {% else %}
                    <p class="btn btn-outline-danger mt-auto">Producto Agotado</p>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url 'editarProducto' producto.id %}" class="btn carri btn-primary">editar producto</a>
                    <a href="{% url 'eliminarProducto' pk=producto.id %}" class="btn carri btn-primary">Eliminar Producto</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</table>

{% endblock %}