{% extends "plantillaBase.html" %}
{% block tituloPestana %} Listar Carrito Usuario {% endblock %}
{% block tituloPrincipal %} Carrito {% endblock %}
{% block mensaje    %}
{% endblock %}
{% block contenido  %}
{% endblock %}
{% block listado    %}

    <table class="table table-responsive table-striped">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
            <th>Eliminar</th>
        </tr>
        {% for item in listadoCarrito %}
            <tr>
                <th><img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}"></th>
                <th><p>{{ item.producto.nombre }}</p></th>
                <th><p>Precio: {{ item.producto.precio }}</p></th>
                <th><p>Cantidad: {{ item.cantidad }}</p></th>
                <th><p>Descripción: {{ item.producto.descripcion }}</p></th>
                <th><a href="{% url 'eliminarCarrito' item.id %}" class="btn btn-danger">Eliminar</a></th>
            </tr>
        {% endfor %}
    </table>

{% endblock %}