{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} Listar Productos {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleBusqueda.css' %}">
{% endblock %}
{% block js %} {% endblock %}
{% block tituloPrincipal %} Productos {% endblock %}
{% block mensaje %}
{% endblock %}
{% block contenido %}

<a href="{% url 'anadirProductoForm' %}" class="btn btn-primary">Subir Producto</a>

{% endblock %}
{% block listado %}

<table class="table table-responsive table-striped">
    {% for producto in listadoProductos %}
    <td>
        <div>
            <div class="col {{ producto.Categoria }} filterDiv show " id="{{ producto.Categoria }}">
                <div class="card h-100">
                    <a href="../producto/index.html" class="cartas">
                        <img src="{{MEDIA_URL}}{{ producto.imagen }}" class="card-img-top" alt="Fallo al cargar">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <div class="sc-prec">
                                $<p class="card-text " id="precio">{{ producto.precio }}</p>
                            </div>
                            <p class="card-text">{{ producto.descripcion }}</p>
                        </div>
                    </a>
                    <a href="{#% url 'anadirCarrito' %#}" class="btn carri btn-primary">añadir al carrito</a>
                </div>
            </div>
            {% endfor %}
</table>

{% endblock %}