{% extends "plantillaBase.html" %}
{% block tituloPestana %} Listar Carrito Usuario {% endblock %}
{% block tituloPrincipal %} Carrito {% endblock %}
{% block mensaje    %}
{% endblock %}
{% block contenido  %}
{% endblock %}
{% block listado    %}

    <table class="table table-responsive table-striped">
        <tr>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
        </tr>
    {% for item in carrito_items %}
        <img src="{{ item.producto.imagen.url }}" alt="{{ item.producto.nombre }}">
        <p>{{ item.producto.nombre }}</p>
        <p>Precio: {{ item.producto.precio }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <p>Descripción: {{ item.producto.descripcion }}</p>
    {% endfor %}
    </table>

{% endblock %}