{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} realizar Compra {% endblock %}
{% block tituloPrincipal %} Compra {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleComprar.css' %}">
{% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
<section>
    <h2>Seleccionar Direccion</h2>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Direcciones</th>
        </tr>

        {% for item in listadoDireccion %}
        <tr>
            <th>
                <label for="Direccion{{item.pk}}" class="direccion-label">
                    <input type="radio" id="Direccion{{item.pk}}" name="direccion" value="{{item.pk}}">
                    <span class="direccion-nombre">{{item.nombre}}</span>
                    <span class="direccion-direccion">{{item.direccion}}</span>
                    <span class="direccion-ciudad">{{item.ciudad}}</span>
                    <span class="direccion-estado">{{item.estado}}</span>
                    <span class="direccion-codigoPostal">{{item.codigoPostal}}</span>
                </label>
            </th>
            <td><a href="{#% url 'editarDireccion' item.pk %#}" class="btn btn-warning">Editar</a></td>
            <td><a href="{#% url 'eliminarDireccion' item.pk %#}" class="btn btn-danger">Eliminar</a></td>
        </tr>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'anadirDireccionForm' %}">añadir metodo de pago</a>

    <h2>Seleccionar Tarjeta</h2>
    <table class="table table-responsive table-striped">
        <tr>
            <th>Tarjetas</th>
            <td>editar</td>
            <td>eliminar</td>
        </tr>

        {% for item in listadoTarjeta %}
        <tr>
            <th>
                <label for="Tarjeta{{item.pk}}" class="tarjeta-label">
                    <input type="radio" id="Tarjeta{{item.pk}}" name="tarjeta" value="{{item.pk}}">
                    <span class="tarjeta-nombre">{{item.nombre}}</span>
                    <span class="tarjeta-numero">{{item.numero}}</span>
                    <span class="tarjeta-expiracion">{{item.mesExpiracion}}/{{item.anioExpiracion}}</span>
                </label>
            </th>
            <td><a href="{% url 'editarTarjeta' item.pk %}" class="btn btn-warning">Editar</a></td>
            <td><a href="{% url 'eliminarTarjeta' item.pk %}" class="btn btn-danger">Eliminar</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'anadirTarjetaForm' %}">añadir metodo de pago</a>
</section>



{% endblock %}
{% block listado %}

<table class="table table-responsive table-striped ">
    {% for item in listadoCarrito %}
    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ item.producto.imagen.url }}" class="img-producto img-fluid rounded-start " alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.producto.nombre}}</h5>
                    <div class="sc-prec">
                        $<p class="card-text " id="precio">{{item.producto.precio}}</p>
                    </div>
                    <p class="card-text">{{item.producto.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</table>

{% endblock %}