{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} realizar Compra {% endblock %}
{% block tituloPrincipal %} Compra {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleCarrito.css' %}">
{% endblock %}
{% block mensaje %}
{% if exito %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{exito}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
{% endblock %}
{% block contenido %}
<section>
    <h2>Seleccionar Direccion</h2>
    asdk;dlkal;dakl;

    <h2>Seleccionar Tarjeta</h2>
    {% for item in listadoTarjetas %}
    <input type="radio" id="{{item.pk}}" name="tarjeta" value="{{item.pk}}">
    <label for="{{item.pk}}">
        <p>{{item.numeroTarjeta}}</p>
    </label>
    {% endfor %}

    <a href="{% url 'anadirTarjetaForm' %}">añadir metodo de pago</a>
</section>



{% endblock %}
{% block listado %}

<table class="table table-responsive table-striped ">
    {% for item in listadoCarrito %}
    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ item.producto.imagen.url }}" class="img-producto img-fluid rounded-start " alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.producto.nombre}}</h5>
                    <div class="sc-prec">
                        $<p class="card-text " id="precio">{{item.producto.precio}}</p>
                    </div>
                    <p class="card-text">{{item.producto.descripcion}}</p>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</table>

{% endblock %}