{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} Mostar Productos {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleProducto.css' %}">
{% endblock %}
{% block js %} {% endblock %}
{% block tituloPrincipal %}Producto {% endblock %}
{% block mensaje %}
{% endblock %}
{% block contenido %}
    <section class="mt-3 arribac">
        <img src="{{MEDIA_URL}}{{ item.imagen }}" class="d-block imag" alt="Fallo al cargar">
        <section class="prod">
            <section class="datos">
                <div class="titulo">
                    <h1>{{ item.nombre }} </h1>
                </div>
                <div class="precio">
                    $<p class="card-text" id="precio"> {{item.precio}} </p>
                </div>
                <div class="info">{{ item.descripcion }}</div>
            </section>
            <div class="pago">
                <div class="metodo">
                    <h1>Metodo de pago:</h1>
                    <h2>transferencia bancaria</h2>
                </div>
                <div class="cantidad">
                    <h2>Cantidad disponibles:</h2>
                    <h3>30</h3>
                </div>
                <div class="tiempo">
                    <h2>Tiempo de entrega:</h2>
                    <h3>3 dias</h3>
                </div>
                <a href="{% url 'anadirCarrito' pk=item.id %}" class="btn carri btn-primary">añadir al carrito</a>
            </div>
        </section>
    </section>
{% endblock %}
{% block listado %}
{% endblock %}