{% extends "plantillaBase.html" %}
{% load static %}
{% block tituloPestana %} Mostar Productos {% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleProducto.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '../static/css/styleProductoxd.css' %}">
{% endblock %}
{% block js %} {% endblock %}
{% block tituloPrincipal %}{% endblock %}
{% block mensaje %}
{% if mensaje %}
<div class="alert alert-success" role="alert">
    {{ mensaje }}
</div>
{% elif error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
{% endblock %}
{% block contenido %}

<section>
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ MEDIA_URL }}{{item.imagen}}"
                        alt="..." /></div>
                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{item.nombre}}</h1>
                    <div class="fs-5 mb-5">
                        $<span id="precio">
                            {{item.precio}}
                        </span>
                    </div>
                    <div class="small mb-1">Stock: {{item.stock}} </div>
                    <p class="lead">
                        {{ item.descripcion }}
                    </p>
                    <div class="d-flex">
                        <form method="POST" action="{% url 'anadirCarrito' pk=item.id %}">
                            {% csrf_token %}
                            <input class="form-control text-center me-3" id="txtCantidad{{item.id}}" type="num"
                                value="1" style="max-width: 3rem" />
                            <button type="submit" name="btnAnadir" value="anadir"
                                class="btn btn-outline-dark mt-auto">Añadir al
                                Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="productosExtras">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for Producto in randProductos %}
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img src="{{Producto.imagen.url}}" class="card-img-top" alt="...">
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{Producto.nombre}}</h5>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                        <form method="POST" action="{% url 'anadirCarrito' pk=Producto.id %}">
                            {% csrf_token %}
                            <input class="form-control text-center me-3" id="txtCantidad{{Producto.id}}" type="num"
                                value="1" style="max-width: 3rem" />
                            <button type="submit" name="btnAnadir" value="anadir"
                                class="btn btn-outline-dark mt-auto">Añadir al
                                Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block listado %}
{% endblock %}