* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

main {
    background-color: rgb(66, 66, 66);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.iz {
    background-color: rgb(44, 44, 44);
    padding: 10px;
    color: rgb(182, 182, 182);
}

.mai {
    max-width: 1280px;
    margin: auto 10px;
}

.aba {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    background-color: rgb(99, 99, 99);
    border-radius: 5px;
}

.arr {
    padding: 10px;
    background-color: rgb(29, 29, 29);
    color: rgb(212, 212, 212);
    border-radius: 5px;
    margin: 5px;

}

.visible {

    display: none !important;
}



@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .arr {
        margin: 0;
    }

    .fil {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 10px auto;
    }

    .visible {
        display: block !important;
    }

}

@media (min-width: 1024px) {
    .iz {
        width: 200px;
    }
}